Repository RealistikOsu/Soumetsu: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, golangci-lint, prettier, gofmt, goimports

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --fix
  language: system
  pass_filenames: false
  stages:
  - pre-commit

prettier:
  name: Prettier
  entry: npx prettier --write --ignore-unknown
  language: system
  stages:
  - pre-commit

gofmt:
  name: gofmt
  entry: gofmt -w
  language: system
  stages:
  - pre-commit

goimports:
  name: goimports
  entry: goimports -w
  language: system
  stages:
  - pre-commit

feat: redesign profile badges and previous usernames
  apps/web/src/lib/badges.ts
  apps/web/src/lib/components/ProfileView.svelte
  apps/web/src/styles/pages/profile.css
  packages/ui/src/styles/accents.css
  packages/ui/src/styles/motion.css
Due: prettier

fix: animate the previous usernames menu and close it on outside click
  apps/web/src/lib/components/PastNames.svelte
  apps/web/src/lib/components/ProfileView.svelte
  apps/web/src/styles/pages/profile.css
  packages/ui/src/styles/motion.css
Due: prettier

fix: count first passes as passed, extend the score card cover, add imagemap tooltips
  apps/web/src/lib/api/scores.ts
  apps/web/src/lib/components/FloatTip.svelte
  apps/web/src/lib/components/ProfilePane.svelte
  apps/web/src/lib/components/ScoreDialog.svelte
  apps/web/src/lib/components/ScoreRow.svelte
  apps/web/src/lib/grades.ts
  apps/web/src/routes/+layout.svelte
  apps/web/src/styles/pages/docs.css
  apps/web/src/styles/pages/score-dialog.css
  apps/web/src/styles/pages/scores.css
  packages/ui/src/styles/shared.css
Due: prettier

feat: show a user card when hovering a link to a profile
  apps/web/src/lib/api/cards.ts
  apps/web/src/lib/components/UserCards.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/site-api/users/[id]/card/+server.ts
  packages/ui/src/styles/shared.css
Due: prettier

feat: add the staff-only admin route group and link it from the avatar menu
  apps/web/src/lib/auth/privileges.ts
  apps/web/src/lib/components/Header.svelte
  apps/web/src/routes/(admin)/admin/+layout.svelte
  apps/web/src/routes/(admin)/admin/+page.svelte
Due: none

feat(admin): add panel shell, privilege-filtered menu and dashboard
  apps/web/.env.example
  apps/web/prisma/schema.prisma
  apps/web/src/lib/admin.ts
  apps/web/src/lib/api/admin.ts
  apps/web/src/lib/auth/privileges.ts
  apps/web/src/lib/components/admin/AdminHead.svelte
  apps/web/src/lib/components/admin/AdminTag.svelte
  apps/web/src/lib/components/admin/Sparkline.svelte
  apps/web/src/routes/(admin)/admin/+layout.svelte
  apps/web/src/routes/(admin)/admin/+page.svelte
  apps/web/src/routes/site-api/admin/dashboard/+server.ts
  apps/web/src/routes/site-api/admin/status/+server.ts
  apps/web/src/routes/site-api/users/[id]/scores/watched/+server.ts
  apps/web/src/server/admin/common.ts
  apps/web/src/server/admin/log.ts
  apps/web/src/server/auth.ts
  apps/web/src/server/config.ts
  apps/web/src/server/mods.ts
  apps/web/src/styles/admin.css
  apps/web/static/img/admin/banner.jpg
  apps/web/static/img/admin/logo.ico
Due: prettier

feat(admin): add user list with search
  apps/web/src/lib/api/admin.ts
  apps/web/src/lib/components/Pager.svelte
  apps/web/src/routes/(admin)/admin/users/+page.svelte
  apps/web/src/routes/site-api/admin/users/+server.ts
  apps/web/src/server/admin/groups.ts
Due: none

feat(admin): add user editing, moderation actions, hardware and IP lookups
  apps/web/.env.example
  apps/web/src/lib/api/admin.ts
  apps/web/src/lib/api/messages.ts
  apps/web/src/lib/components/admin/AdminDialog.svelte
  apps/web/src/lib/components/admin/Hash.svelte
  apps/web/src/lib/components/admin/HwidDialog.svelte
  apps/web/src/lib/components/admin/IpDialog.svelte
  apps/web/src/lib/components/admin/ScopeFields.svelte
  apps/web/src/lib/components/admin/UserDialogs.svelte
  apps/web/src/lib/countries.ts
  apps/web/src/routes/(admin)/admin/+layout.svelte
  apps/web/src/routes/(admin)/admin/users/[id]/+page.svelte
  apps/web/src/routes/site-api/admin/ips/[ip]/+server.ts
  apps/web/src/routes/site-api/admin/users/[id]/+server.ts
  apps/web/src/routes/site-api/admin/users/[id]/action/+server.ts
  apps/web/src/routes/site-api/admin/users/[id]/hwid/+server.ts
  apps/web/src/routes/site-api/admin/users/[id]/ips/+server.ts
  apps/web/src/server/admin/bancho.ts
  apps/web/src/server/admin/common.ts
  apps/web/src/server/admin/users.ts
  apps/web/src/server/config.ts
  apps/web/src/styles/admin.css
Due: prettier

feat(admin): add action logs, ban logs and console
  apps/web/src/hooks.client.ts
  apps/web/src/hooks.server.ts
  apps/web/src/lib/api/admin.ts
  apps/web/src/lib/format.ts
  apps/web/src/routes/(admin)/admin/ban-logs/+page.svelte
  apps/web/src/routes/(admin)/admin/console/+page.svelte
  apps/web/src/routes/(admin)/admin/logs/+page.svelte
  apps/web/src/routes/site-api/admin/ban-logs/+server.ts
  apps/web/src/routes/site-api/admin/logs/+server.ts
  apps/web/src/routes/site-api/console/+server.ts
  apps/web/src/server/admin/console.ts
  apps/web/src/server/respond.ts
Due: none

feat(admin): add statistics page and shared play table
  apps/web/src/lib/api/admin.ts
  apps/web/src/lib/components/admin/PlayTable.svelte
  apps/web/src/lib/grades.ts
  apps/web/src/routes/(admin)/admin/+page.svelte
  apps/web/src/routes/(admin)/admin/stats/+page.svelte
  apps/web/src/routes/site-api/admin/dashboard/+server.ts
  apps/web/src/routes/site-api/admin/stats/+server.ts
  apps/web/src/server/admin/plays.ts
Due: none

feat(admin): add ranking and rank request review
  apps/web/src/lib/api/admin.ts
  apps/web/src/routes/(admin)/admin/ranking/+page.svelte
  apps/web/src/routes/(admin)/admin/ranking/[id]/+page.svelte
  apps/web/src/routes/(admin)/admin/requests/+page.svelte
  apps/web/src/routes/site-api/admin/ranking/+server.ts
  apps/web/src/routes/site-api/admin/ranking/[id]/+server.ts
  apps/web/src/routes/site-api/admin/requests/+server.ts
  apps/web/src/routes/site-api/admin/requests/[id]/+server.ts
  apps/web/src/server/admin/ranking.ts
Due: none

feat(admin): add system and bancho settings
  apps/web/src/lib/api/admin.ts
  apps/web/src/routes/(admin)/admin/bancho/+page.svelte
  apps/web/src/routes/(admin)/admin/settings/+page.svelte
  apps/web/src/routes/site-api/admin/bancho/+server.ts
  apps/web/src/routes/site-api/admin/settings/+server.ts
Due: none

feat(admin): add badge and privilege group management
  apps/web/src/lib/admin.ts
  apps/web/src/lib/api/admin.ts
  apps/web/src/routes/(admin)/admin/badges/+page.svelte
  apps/web/src/routes/(admin)/admin/privileges/+page.svelte
  apps/web/src/routes/site-api/admin/badges/+server.ts
  apps/web/src/routes/site-api/admin/badges/[id]/+server.ts
  apps/web/src/routes/site-api/admin/privileges/+server.ts
  apps/web/src/routes/site-api/admin/privileges/[id]/+server.ts
  apps/web/src/server/admin/groups.ts
Due: none

feat(admin): add clan search, editing and member management
  apps/web/src/lib/api/admin.ts
  apps/web/src/routes/(admin)/admin/clans/+page.svelte
  apps/web/src/routes/(admin)/admin/clans/[id]/+page.svelte
  apps/web/src/routes/site-api/admin/clans/+server.ts
  apps/web/src/routes/site-api/admin/clans/[id]/+server.ts
  apps/web/src/routes/site-api/admin/clans/[id]/kick/+server.ts
Due: none

fix(admin): animate registration bars when scrolled into view
  apps/web/src/routes/(admin)/admin/stats/+page.svelte
Due: none

fix: lay out the rank request link status on one line
  apps/web/src/styles/pages/rank-request.css
Due: prettier

fix: say difficulty in the singular for one-diff sets
  apps/web/src/routes/(member)/rank-request/+page.svelte
Due: none

fix: reload the rank request status in place and key ban log rows by position
  apps/web/src/lib/api/query.svelte.ts
  apps/web/src/routes/(admin)/admin/ban-logs/+page.svelte
  apps/web/src/routes/(member)/rank-request/+page.svelte
Due: none

feat(admin): clear rank requests when a set or difficulty changes status and link to beatmap pages
  apps/web/src/routes/(admin)/admin/ranking/[id]/+page.svelte
  apps/web/src/server/admin/ranking.ts
  packages/ui/src/styles/motion.css
Due: prettier

fix: keep the tab ink sized to its tab when counts load in
  packages/ui/src/lib/actions.ts
Due: none

build: add a Dockerfile for the bun server
  .dockerignore
  Dockerfile
Due: none

refactor: call the beatmap mirror directly now that it allows cross-origin requests
  apps/web/.env.example
  apps/web/src/lib/api/mirror.ts
  apps/web/src/routes/site-api/mirror/[...path]/+server.ts
Due: none

refactor(admin): reset avatars through the API instead of the shared volume
  apps/web/.env.example
  apps/web/src/routes/site-api/admin/users/[id]/action/+server.ts
  apps/web/src/server/admin/users.ts
  apps/web/src/server/config.ts
Due: none

fix: let the build analyse routes without the runtime environment
  apps/web/src/server/config.ts
  apps/web/src/server/db.ts
  apps/web/src/server/redis.ts
Due: none

fix(admin): count plays, scores and pp from the database for the dashboard
  apps/web/src/routes/site-api/admin/dashboard/+server.ts
  apps/web/src/server/admin/common.ts
Due: none

fix: fall back to the default avatar on cards and settings, and space out the pager
  apps/web/src/lib/components/Pager.svelte
  apps/web/src/lib/components/UserCards.svelte
  apps/web/src/routes/(member)/settings/avatar/+page.svelte
Due: none

fix: take online status from Bancho, let staff find restricted players and grey out unavailable mods
  _shot.mjs
  apps/web/src/lib/api/cards.ts
  apps/web/src/lib/api/site.ts
  apps/web/src/lib/components/ClanView.svelte
  apps/web/src/lib/components/Pager.svelte
  apps/web/src/lib/components/PastNames.svelte
  apps/web/src/lib/components/PlayerSearch.svelte
  apps/web/src/lib/components/ProfileView.svelte
  apps/web/src/lib/components/RelaxTabs.svelte
  apps/web/src/lib/components/UserCards.svelte
  apps/web/src/routes/beatmaps/[id]/+page.svelte
  apps/web/src/routes/clanboard/+page.svelte
  apps/web/src/routes/leaderboard/+page.svelte
  apps/web/src/routes/site-api/users/[id]/card/+server.ts
  apps/web/src/routes/site-api/users/[id]/extras/+server.ts
  apps/web/src/styles/header.css
  apps/web/src/styles/pages/leaderboard.css
Due: prettier

chore: remove a stray screenshot script
  _shot.mjs
Due: none

fix(admin): show automatic ban log entries as flags with their reason
  apps/web/src/routes/(admin)/admin/ban-logs/+page.svelte
  apps/web/src/styles/admin.css
Due: prettier

feat: remember the hide failed scores choice in the browser
  apps/web/src/lib/components/ProfilePane.svelte
  apps/web/src/lib/preferences.ts
Due: none

feat: add translations with Paraglide and a language picker
  apps/web/messages/en/auth.json
  apps/web/messages/en/beatmaps.json
  apps/web/messages/en/clans.json
  apps/web/messages/en/common.json
  apps/web/messages/en/home.json
  apps/web/messages/en/leaderboard.json
  apps/web/messages/en/profile.json
  apps/web/messages/en/settings.json
  apps/web/messages/en/support.json
  apps/web/messages/pl/auth.json
  apps/web/messages/pl/beatmaps.json
  apps/web/messages/pl/clans.json
  apps/web/messages/pl/common.json
  apps/web/messages/pl/home.json
  apps/web/messages/pl/leaderboard.json
  apps/web/messages/pl/profile.json
  apps/web/messages/pl/settings.json
  apps/web/messages/pl/support.json
  apps/web/messages/ru/auth.json
  apps/web/messages/ru/beatmaps.json
  apps/web/messages/ru/clans.json
  apps/web/messages/ru/common.json
  apps/web/messages/ru/home.json
  apps/web/messages/ru/leaderboard.json
  apps/web/messages/ru/profile.json
  apps/web/messages/ru/settings.json
  apps/web/messages/ru/support.json
  apps/web/package.json
  apps/web/project.inlang/settings.json
  apps/web/src/lib/components/Footer.svelte
  apps/web/src/lib/format.ts
  apps/web/src/lib/i18n.ts
  apps/web/src/routes/+layout.svelte
  apps/web/src/styles/footer.css
  apps/web/vite.config.ts
  bun.lock
  eslint.config.js
Due: eslint, prettier

feat: translate beatmap, listing, rank request and leaderboard pages
  apps/web/messages/en/beatmaps.json
  apps/web/messages/en/leaderboard.json
  apps/web/messages/pl/beatmaps.json
  apps/web/messages/pl/leaderboard.json
  apps/web/messages/ru/beatmaps.json
  apps/web/messages/ru/leaderboard.json
  apps/web/src/lib/components/Preview.svelte
  apps/web/src/routes/(member)/rank-request/+page.svelte
  apps/web/src/routes/beatmap_listing/+page.svelte
  apps/web/src/routes/beatmaps/[id]/+page.svelte
  apps/web/src/routes/clanboard/+page.svelte
  apps/web/src/routes/leaderboard/+page.svelte
Due: prettier

feat: translate profiles, end the graph on today's rank and collapse pinned scores
  apps/web/messages/en/profile.json
  apps/web/messages/pl/profile.json
  apps/web/messages/ru/profile.json
  apps/web/src/lib/components/Medals.svelte
  apps/web/src/lib/components/PastNames.svelte
  apps/web/src/lib/components/ProfileGraph.svelte
  apps/web/src/lib/components/ProfilePane.svelte
  apps/web/src/lib/components/ProfileStats.svelte
  apps/web/src/lib/components/ProfileView.svelte
  apps/web/src/lib/components/ScoreDialog.svelte
  apps/web/src/lib/components/ScoreRow.svelte
  apps/web/src/lib/components/Userpage.svelte
Due: prettier

feat: serve docs in the reader's language when a translation exists
  apps/web/src/lib/api/docs.ts
  apps/web/src/routes/site-api/docs/+server.ts
  apps/web/src/routes/site-api/docs/[slug]/+server.ts
  apps/web/src/server/docs.ts
Due: none

feat: translate the header, shared components and error messages
  apps/web/messages/en/common.json
  apps/web/messages/pl/common.json
  apps/web/messages/ru/common.json
  apps/web/src/lib/api/messages.ts
  apps/web/src/lib/components/AlertStack.svelte
  apps/web/src/lib/components/Comments.svelte
  apps/web/src/lib/components/Flag.svelte
  apps/web/src/lib/components/FriendButton.svelte
  apps/web/src/lib/components/Header.svelte
  apps/web/src/lib/components/LoadMoreList.svelte
  apps/web/src/lib/components/NotFound.svelte
  apps/web/src/lib/components/Pager.svelte
  apps/web/src/lib/components/PeopleList.svelte
  apps/web/src/lib/components/PinDialog.svelte
  apps/web/src/lib/components/PlayerSearch.svelte
  apps/web/src/lib/components/UserCards.svelte
  apps/web/src/lib/countries.ts
  apps/web/src/lib/decorations.ts
  apps/web/src/routes/(member)/+layout.svelte
  apps/web/src/routes/+error.svelte
Due: prettier

feat: translate settings, sign-in and registration, and add a language setting
  apps/web/messages/en/auth.json
  apps/web/messages/en/settings.json
  apps/web/messages/pl/auth.json
  apps/web/messages/pl/settings.json
  apps/web/messages/ru/auth.json
  apps/web/messages/ru/settings.json
  apps/web/src/lib/auth/session.svelte.ts
  apps/web/src/lib/components/Captcha.svelte
  apps/web/src/lib/components/ConnectMethods.svelte
  apps/web/src/lib/components/SupporterOnly.svelte
  apps/web/src/lib/passwords/index.ts
  apps/web/src/routes/(guest)/login/+page.svelte
  apps/web/src/routes/(guest)/pwreset/+page.svelte
  apps/web/src/routes/(guest)/pwreset/continue/+page.svelte
  apps/web/src/routes/(guest)/register/+page.svelte
  apps/web/src/routes/(guest)/register/stop/+page.svelte
  apps/web/src/routes/(member)/settings/+layout.svelte
  apps/web/src/routes/(member)/settings/+page.svelte
  apps/web/src/routes/(member)/settings/avatar/+page.svelte
  apps/web/src/routes/(member)/settings/bancho/+page.svelte
  apps/web/src/routes/(member)/settings/change-username/+page.svelte
  apps/web/src/routes/(member)/settings/decoration/+page.svelte
  apps/web/src/routes/(member)/settings/discord-integration/+page.svelte
  apps/web/src/routes/(member)/settings/password/+page.svelte
  apps/web/src/routes/(member)/settings/profbanner/+page.svelte
  apps/web/src/routes/(member)/settings/twitch/+page.svelte
  apps/web/src/routes/(member)/settings/userpage/+page.svelte
  apps/web/src/routes/connect/+page.svelte
  apps/web/src/routes/register/verify/+page.svelte
  apps/web/src/routes/register/welcome/+page.svelte
  apps/web/src/styles/pages/settings.css
Due: prettier

feat: translate home, clan and support pages
  .gitignore
  .prettierignore
  apps/web/messages/en/clans.json
  apps/web/messages/en/home.json
  apps/web/messages/en/support.json
  apps/web/messages/pl/clans.json
  apps/web/messages/pl/home.json
  apps/web/messages/pl/support.json
  apps/web/messages/ru/clans.json
  apps/web/messages/ru/home.json
  apps/web/messages/ru/support.json
  apps/web/src/lib/components/ClanFields.svelte
  apps/web/src/lib/components/ClanView.svelte
  apps/web/src/lib/components/Features.svelte
  apps/web/src/lib/components/Journey.svelte
  apps/web/src/lib/components/OnlineGraph.svelte
  apps/web/src/lib/components/ProfileGraph.svelte
  apps/web/src/lib/components/StackedCounters.svelte
  apps/web/src/routes/(member)/clan/manage/+page.svelte
  apps/web/src/routes/(member)/clans/create/+page.svelte
  apps/web/src/routes/(member)/clans/invite/[code]/+page.svelte
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/about/+page.svelte
  apps/web/src/routes/doc/+page.svelte
  apps/web/src/routes/doc/[slug]/+page.svelte
  apps/web/src/routes/donate/+page.svelte
  apps/web/src/routes/patcher/+page.svelte
  apps/web/src/routes/team/+page.svelte
Due: prettier

feat: add staff shortcuts to the admin panel on profiles and beatmaps
  apps/web/messages/en/beatmaps.json
  apps/web/messages/en/profile.json
  apps/web/messages/pl/beatmaps.json
  apps/web/messages/pl/profile.json
  apps/web/messages/ru/beatmaps.json
  apps/web/messages/ru/profile.json
  apps/web/src/lib/auth/privileges.ts
  apps/web/src/lib/components/FriendButton.svelte
  apps/web/src/lib/components/ProfileView.svelte
  apps/web/src/routes/beatmaps/[id]/+page.svelte
  apps/web/src/styles/pages/beatmap.css
  apps/web/src/styles/pages/profile.css
Due: prettier

fix: take profile graphs and peak rank from the statistics service, and scope the admin stylesheet
  apps/web/messages/en/profile.json
  apps/web/messages/pl/profile.json
  apps/web/messages/ru/profile.json
  apps/web/src/lib/api/v1.ts
  apps/web/src/lib/components/ProfilePane.svelte
  apps/web/src/lib/components/ProfileStats.svelte
  apps/web/src/lib/components/ProfileView.svelte
  apps/web/src/routes/(admin)/admin/+layout.svelte
  apps/web/src/styles/admin.css
Due: prettier

feat: show peak rank in a card on the profile's global rank
  apps/web/messages/en/profile.json
  apps/web/messages/pl/profile.json
  apps/web/messages/ru/profile.json
  apps/web/src/lib/components/PeakCard.svelte
  apps/web/src/lib/components/ProfilePane.svelte
  apps/web/src/lib/components/ProfileStats.svelte
  apps/web/src/lib/components/ProfileView.svelte
  apps/web/src/styles/pages/profile.css
  packages/ui/src/styles/motion.css
Due: prettier

Path conditions:
  eslint: any of: \.(js|vue)$
  golangci-lint: any of: \.go$
  prettier: any of: \.(js|css|json|md|yaml|yml)$
  gofmt: any of: \.go$
  goimports: any of: \.go$
