Repository RealistikOsu/Soumetsu: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, golangci-lint, prettier, gofmt, goimports

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --fix
  language: system
  pass_filenames: false
  stages:
  - pre-commit

prettier:
  name: Prettier
  entry: npx prettier --write --ignore-unknown
  language: system
  stages:
  - pre-commit

gofmt:
  name: gofmt
  entry: gofmt -w
  language: system
  stages:
  - pre-commit

goimports:
  name: goimports
  entry: goimports -w
  language: system
  stages:
  - pre-commit

feat(payments): shared donor fulfillment (dedup + per-provider bonus)
  internal/services/payments/fulfill.go
  internal/services/payments/fulfill_test.go
Due: golangci-lint, gofmt, goimports

feat(payments): FreeKassa provider (webhook sig verified)
  internal/services/payments/freekassa.go
  internal/services/payments/freekassa_test.go
Due: golangci-lint, gofmt, goimports

feat(payments): Stripe provider
  go.mod
  go.sum
  internal/services/payments/stripe.go
Due: golangci-lint, gofmt, goimports

feat(payments): PayPal provider (Orders v2)
  go.mod
  go.sum
  internal/services/payments/paypal.go
Due: golangci-lint, gofmt, goimports

feat(payments): donate handler, wiring, routes (webhooks CSRF-exempt)
  internal/api/handlers/donate.go
  internal/app/app.go
  internal/app/routes.go
Due: golangci-lint, gofmt, goimports

fix(payments): wire existing support.html donate page to provider endpoints
  internal/api/handlers/donate.go
  internal/app/app.go
  internal/app/routes.go
  web/templates/support.html
Due: golangci-lint, gofmt, goimports

fix(payments): stripe api-version-mismatch, FreeKassa USD+unique-order+configurable URL, CSRF on checkout
  internal/api/handlers/donate.go
  internal/app/app.go
  internal/config/config.go
  internal/services/payments/freekassa.go
  internal/services/payments/freekassa_test.go
  internal/services/payments/stripe.go
Due: golangci-lint, gofmt, goimports

refactor(privs): soumetsu privileges v2 constants
  internal/models/privileges.go
Due: golangci-lint, gofmt, goimports

refactor(models): User/session -> rosu.users (password_bcrypt, public, drop flags/version); remap priv consumers
  internal/api/handlers/auth.go
  internal/api/middleware/auth.go
  internal/models/user.go
  web/templates/funcmap.go
Due: golangci-lint, gofmt, goimports

refactor(user): user repo -> rosu.users/user_settings/users.clan_id; drop flags/version; latest_activity time.Time
  internal/api/handlers/auth.go
  internal/models/user.go
  internal/repositories/user.go
  internal/services/auth/service.go
Due: golangci-lint, gofmt, goimports

refactor(stats): tall user_stats + user_settings seed; profile_bg/discord clean cols
  internal/repositories/stats.go
Due: golangci-lint, gofmt, goimports

refactor(clan): user_clans -> users.clan_id/clan_perms; clans.member_limit; clans_invites.clan_id
  internal/models/clan.go
  internal/repositories/clan.go
Due: golangci-lint, gofmt, goimports

refactor(token): tokens/identity_tokens/password_recovery clean cols; ip_user -> user_logins
  internal/repositories/token.go
Due: golangci-lint, gofmt, goimports

style(theme): brand-true palette to de-genericise the UI
  tailwind.config.js
  web/static/css/input.css
Due: eslint, prettier

auth: tighten post-login redirect validation
  internal/api/handlers/auth.go
Due: golangci-lint, gofmt, goimports

discord: move token exchange server-side, drop client-echoed identity fields
  internal/adapters/api/users.go
  internal/api/handlers/user.go
Due: golangci-lint, gofmt, goimports

feat(settings): add Twitch account linking
  env.example
  internal/adapters/twitch/oauth.go
  internal/api/handlers/twitch.go
  internal/app/app.go
  internal/app/routes.go
  internal/config/config.go
  internal/repositories/twitch.go
  web/templates/settings/menu.html
  web/templates/settings/twitch.html
Due: golangci-lint, gofmt, goimports

build: add prettier, eslint and env example
  .editorconfig
  .gitignore
  .prettierignore
  .prettierrc
  apps/web/.env.example
  eslint.config.js
Due: eslint, prettier

build: scaffold sveltekit workspace on bun
  .gitattributes
  apps/web/package.json
  apps/web/src/app.d.ts
  apps/web/src/app.html
  apps/web/src/routes/+layout.ts
  apps/web/src/routes/+page.svelte
  apps/web/static/favicon.ico
  apps/web/static/logo.png
  apps/web/svelte.config.js
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  bun.lock
  package.json
  packages/ui/package.json
Due: eslint, prettier

fix: close header menus after navigation
  apps/web/src/lib/components/Header.svelte
  apps/web/src/lib/components/PlayerSearch.svelte
Due: none

feat: add leaderboard page with sort and country filters
  apps/web/src/lib/api/leaderboard.ts
  apps/web/src/lib/components/Dialog.svelte
  apps/web/src/lib/components/ModeTabs.svelte
  apps/web/src/lib/components/Pager.svelte
  apps/web/src/lib/components/RelaxTabs.svelte
  apps/web/src/lib/modes.ts
  apps/web/src/routes/leaderboard/+page.svelte
  apps/web/src/routes/site-api/countries/+server.ts
  apps/web/src/styles/pages/leaderboard.css
Due: prettier

feat: add beatmap page backed by the mirror and the game server
  apps/web/src/lib/beatmaps.ts
  apps/web/src/lib/components/Banner.svelte
  apps/web/src/lib/components/Preview.svelte
  apps/web/src/lib/components/Stars.svelte
  apps/web/src/routes/b/[id]/+page.ts
  apps/web/src/routes/beatmaps/[id]/+page.svelte
  apps/web/src/routes/beatmapsets/[id]/+page.svelte
  apps/web/src/routes/rank_request/+page.ts
Due: none

feat: add beatmap listing page backed by the mirror
  apps/web/src/routes/beatmap_listing/+page.svelte
Due: none

fix: escape LIKE wildcards when resolving a name
  apps/web/src/routes/site-api/users/resolve/+server.ts
Due: none

feat: add auth pages, rank requests and the register and reset server routes
  apps/web/package.json
  apps/web/src/lib/api/auth.ts
  apps/web/src/lib/api/beatmaps.ts
  apps/web/src/lib/components/AuthLayout.svelte
  apps/web/src/lib/components/Captcha.svelte
  apps/web/src/lib/components/ConnectMethods.svelte
  apps/web/src/lib/components/Journey.svelte
  apps/web/src/lib/components/StackedCounters.svelte
  apps/web/src/lib/passwords/index.ts
  apps/web/src/lib/passwords/top.json
  apps/web/src/routes/(guest)/+layout.svelte
  apps/web/src/routes/(guest)/login/+page.svelte
  apps/web/src/routes/(guest)/pwreset/+page.svelte
  apps/web/src/routes/(guest)/pwreset/continue/+page.svelte
  apps/web/src/routes/(guest)/register/+page.svelte
  apps/web/src/routes/(guest)/register/stop/+page.svelte
  apps/web/src/routes/(member)/+layout.svelte
  apps/web/src/routes/(member)/rank-request/+page.svelte
  apps/web/src/routes/connect/+page.svelte
  apps/web/src/routes/register/verify/+page.svelte
  apps/web/src/routes/register/welcome/+page.svelte
  apps/web/src/routes/site-api/pwreset/+server.ts
  apps/web/src/routes/site-api/pwreset/continue/+server.ts
  apps/web/src/routes/site-api/register/+server.ts
  apps/web/src/routes/site-api/register/check/+server.ts
  apps/web/src/routes/site-api/register/resume/+server.ts
  apps/web/src/routes/site-api/register/status/+server.ts
  apps/web/src/server/captcha.ts
  apps/web/src/server/identity.ts
  apps/web/src/server/mail.ts
  bun.lock
  eslint.config.js
  scripts/passwords.mjs
  scripts/shots.mjs
Due: eslint, prettier

feat: add clan pages and the clan board
  apps/web/src/lib/api/clans.ts
  apps/web/src/lib/components/ClanBadge.svelte
  apps/web/src/lib/components/ClanFields.svelte
  apps/web/src/lib/components/ClanView.svelte
  apps/web/src/lib/components/ProfileStats.svelte
  apps/web/src/lib/components/ProfileView.svelte
  apps/web/src/routes/(member)/clan/manage/+page.svelte
  apps/web/src/routes/(member)/clans/create/+page.svelte
  apps/web/src/routes/(member)/clans/invite/[code]/+page.svelte
  apps/web/src/routes/c/[id]/+page.svelte
  apps/web/src/routes/clanboard/+page.svelte
  apps/web/src/routes/site-api/clans/resolve/+server.ts
  packages/ui/src/lib/CountUp.svelte
Due: none

fix: trust X-Real-IP only behind a proxy and expire reset keys after a day
  apps/web/.env.example
  apps/web/src/routes/site-api/pwreset/continue/+server.ts
  apps/web/src/server/config.ts
  apps/web/src/server/identity.ts
Due: none

feat: add friends and followers pages
  apps/web/src/lib/components/PeopleList.svelte
  apps/web/src/routes/(member)/followers/+page.svelte
  apps/web/src/routes/(member)/friends/+page.svelte
Due: none

feat: add settings pages backed by the API
  apps/web/src/lib/api/settings.ts
  apps/web/src/lib/api/site.ts
  apps/web/src/lib/components/SupporterOnly.svelte
  apps/web/src/routes/(member)/settings/+layout.svelte
  apps/web/src/routes/(member)/settings/+page.svelte
  apps/web/src/routes/(member)/settings/avatar/+page.svelte
  apps/web/src/routes/(member)/settings/change-username/+page.svelte
  apps/web/src/routes/(member)/settings/discord-integration/+page.svelte
  apps/web/src/routes/(member)/settings/password/+page.svelte
  apps/web/src/routes/(member)/settings/userpage/+page.svelte
  apps/web/src/routes/site-api/site/+server.ts
Due: none

feat: add decoration, banner, bancho and twitch settings with their server routes
  apps/web/src/lib/api/linking.ts
  apps/web/src/lib/api/messages.ts
  apps/web/src/routes/(member)/settings/bancho/+page.svelte
  apps/web/src/routes/(member)/settings/decoration/+page.svelte
  apps/web/src/routes/(member)/settings/profbanner/+page.svelte
  apps/web/src/routes/(member)/settings/twitch/+page.svelte
  apps/web/src/routes/site-api/bancho/+server.ts
  apps/web/src/routes/site-api/bancho/callback/+server.ts
  apps/web/src/routes/site-api/bancho/start/+server.ts
  apps/web/src/routes/site-api/banner/+server.ts
  apps/web/src/routes/site-api/decoration/+server.ts
  apps/web/src/routes/site-api/twitch/+server.ts
  apps/web/src/routes/site-api/twitch/callback/+server.ts
  apps/web/src/routes/site-api/twitch/start/+server.ts
  apps/web/src/routes/site-api/users/[id]/extras/+server.ts
  apps/web/src/server/oauth.ts
  apps/web/src/styles/pages/settings.css
Due: prettier

feat: add patcher, about and team pages
  apps/web/src/lib/api/v1.ts
  apps/web/src/routes/about/+page.svelte
  apps/web/src/routes/patcher/+page.svelte
  apps/web/src/routes/team/+page.svelte
Due: none

feat: add docs backed by hot-swappable markdown files
  apps/web/package.json
  apps/web/src/lib/api/docs.ts
  apps/web/src/lib/docs/render.ts
  apps/web/src/routes/doc/+page.svelte
  apps/web/src/routes/doc/[slug]/+page.svelte
  apps/web/src/routes/site-api/docs/+server.ts
  apps/web/src/routes/site-api/docs/[slug]/+server.ts
  apps/web/src/server/docs.ts
  bun.lock
  website-docs/README.md
  website-docs/en/bbcode.md
  website-docs/en/filters.md
  website-docs/en/rules.md
Due: prettier

feat: add the support page, payments server routes and link previews
  apps/web/package.json
  apps/web/src/hooks.server.ts
  apps/web/src/lib/api/messages.ts
  apps/web/src/routes/donate/+page.svelte
  apps/web/src/routes/site-api/donate/freekassa/+server.ts
  apps/web/src/routes/site-api/donate/freekassa/webhook/+server.ts
  apps/web/src/routes/site-api/donate/stripe/+server.ts
  apps/web/src/routes/site-api/donate/stripe/webhook/+server.ts
  apps/web/src/routes/site-api/me/supporter/+server.ts
  apps/web/src/server/payments.ts
  bun.lock
Due: prettier

chore: remove helper scripts
  scripts/passwords.mjs
  scripts/shots.mjs
Due: none

feat: show only the payment methods that are configured
  apps/web/.env.example
  apps/web/src/lib/api/site.ts
  apps/web/src/routes/donate/+page.svelte
  apps/web/src/routes/site-api/site/+server.ts
  apps/web/src/server/config.ts
Due: none

fix: profile banner, graph ticks, userpage expand, skeletons and load-more animation
  apps/web/src/lib/components/Comments.svelte
  apps/web/src/lib/components/ProfileGraph.svelte
  apps/web/src/lib/components/ProfilePane.svelte
  apps/web/src/lib/components/ProfileView.svelte
  apps/web/src/lib/components/Userpage.svelte
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/site-api/users/[id]/extras/+server.ts
  apps/web/src/styles/pages/home.css
  apps/web/src/styles/pages/profile.css
  apps/web/static/img/banner-default.png
  packages/ui/src/styles/motion.css
Due: prettier

style: silence the date lint on the graph ticks
  apps/web/src/lib/components/ProfileGraph.svelte
Due: none

Path conditions:
  eslint: any of: \.(js|vue)$
  golangci-lint: any of: \.go$
  prettier: any of: \.(js|css|json|md|yaml|yml)$
  gofmt: any of: \.go$
  goimports: any of: \.go$
