Repository RealistikOsu/Soumetsu: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, golangci-lint, prettier, gofmt, goimports

.pre-commit-config.yaml:

repos:
  # ESLint for JavaScript/Vue
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(js|vue)$
        pass_filenames: false
        stages: [pre-commit]

  # golangci-lint for Go
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fix
        language: system
        files: \.go$
        pass_filenames: false
        stages: [pre-commit]

  # Prettier for formatting
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx prettier --write --ignore-unknown
        language: system
        files: \.(js|css|json|md|yaml|yml)$
        stages: [pre-commit]

  # Go formatting
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt
        entry: gofmt -w
        language: system
        files: \.go$
        stages: [pre-commit]

  # Go imports
  - repo: local
    hooks:
      - id: goimports
        name: goimports
        entry: goimports -w
        language: system
        files: \.go$
        stages: [pre-commit]

  # Prevent secrets from being committed
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        name: Detect secrets
        stages: [pre-commit]

  # Check for large files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: '\.min\.(js|css)$'
      - id: trailing-whitespace
        exclude: '\.min\.(js|css)$'
      - id: check-yaml
      - id: check-json

add: cursor rules for golang
  .cursor/rules/go.mdc
Due: none

refactor: rx -> custom_mode
  internal/adapters/api/clans.go
  internal/adapters/api/leaderboard.go
  internal/adapters/api/scores.go
  internal/adapters/api/users.go
  web/static/vue/api-client.js
  web/static/vue/pages/beatmap.js
  web/static/vue/pages/clan.js
  web/static/vue/pages/clanboard.js
  web/static/vue/pages/leaderboards.js
  web/static/vue/pages/profile.js
  web/templates/beatmaps/beatmap.html
  web/templates/clans/clan.html
  web/templates/clans/clan_board.html
  web/templates/clans/list.html
  web/templates/leaderboard.html
  web/templates/profile.html
Due: eslint, golangci-lint, prettier, gofmt, goimports

chore: general cleanups
  internal/api/handlers/auth.go
Due: golangci-lint, gofmt, goimports

refactor: share more logic (less repetition)
  package-lock.json
  web/static/vue/components/mode-selector.js
  web/static/vue/components/player-card.js
  web/static/vue/components/score-card.js
  web/static/vue/components/skeleton-loaders.js
  web/static/vue/pages/beatmap.js
  web/static/vue/pages/clan.js
  web/static/vue/pages/clanboard.js
  web/static/vue/pages/homepage.js
  web/static/vue/pages/leaderboards.js
  web/static/vue/pages/profile.js
  web/static/vue/utils/game-helpers.js
  web/static/vue/utils/helpers.js
  web/templates/base.html
  web/templates/profile.html
Due: eslint, prettier

fix: session decoding breaking
  .dockerignore
  Dockerfile
  internal/api/handlers/auth.go
  internal/api/handlers/clan.go
  internal/api/handlers/password.go
  internal/api/handlers/user.go
Due: golangci-lint, gofmt, goimports

add: clans redesign
  web/static/js/user-cards.js
  web/static/ripple.js
  web/static/vue/api-client.js
  web/static/vue/pages/clan.js
  web/static/vue/pages/clanboard.js
  web/templates/beatmaps/ranking_request.html
  web/templates/clans/clan.html
  web/templates/clans/clan_board.html
  web/templates/clans/list.html
  web/templates/leaderboard.html
Due: eslint, prettier

Clan redesigns (#25)
  .cursor/rules/go.mdc
  .dockerignore
  Dockerfile
  internal/api/handlers/auth.go
  internal/api/handlers/clan.go
  internal/api/handlers/password.go
  internal/api/handlers/user.go
  package-lock.json
  web/static/js/user-cards.js
  web/static/ripple.js
  web/static/vue/api-client.js
  web/static/vue/components/mode-selector.js
  web/static/vue/components/player-card.js
  web/static/vue/components/score-card.js
  web/static/vue/components/skeleton-loaders.js
  web/static/vue/pages/beatmap.js
  web/static/vue/pages/clan.js
  web/static/vue/pages/clanboard.js
  web/static/vue/pages/homepage.js
  web/static/vue/pages/leaderboards.js
  web/static/vue/pages/profile.js
  web/static/vue/utils/game-helpers.js
  web/static/vue/utils/helpers.js
  web/templates/base.html
  web/templates/beatmaps/ranking_request.html
  web/templates/clans/clan.html
  web/templates/clans/clan_board.html
  web/templates/clans/list.html
  web/templates/leaderboard.html
  web/templates/profile.html
Due: eslint, golangci-lint, prettier, gofmt, goimports

fix: settings
  internal/adapters/api/users.go
  internal/api/handlers/user.go
  web/static/ripple.js
  web/templates/settings/profile.html
  web/templates/support.html
Due: eslint, golangci-lint, prettier, gofmt, goimports

Fix settings (#26)
  internal/adapters/api/users.go
  internal/api/handlers/user.go
  web/static/ripple.js
  web/templates/settings/profile.html
  web/templates/support.html
Due: eslint, golangci-lint, prettier, gofmt, goimports

add: new rules and patcher pages
  .dockerignore
  .eslintignore
  .gitmodules
  Dockerfile
  README.md
  docker-compose.yml
  env.example
  gulpfile.js
  internal/api/handlers/pages.go
  internal/app/app.go
  internal/config/config.go
  internal/pkg/doc/doc.go
  scripts/download-locales.sh
  web/static/headers/ripplechick.png
  web/static/licenseheader.js
  web/static/soumetsu.js
  web/templates/about.html
  web/templates/auth/register/peppy.html
  web/templates/base.html
  web/templates/connection.html
  web/templates/doc.html
  web/templates/documentation_content.html
  web/templates/funcmap.go
  web/templates/navbar.html
  web/templates/patcher.html
  web/templates/rules.html
  web/templates/settings/user_page.html
  web/templates/support.html
  website-docs/en/rules.md
Due: eslint, golangci-lint, prettier, gofmt, goimports

hotfix: lazyloaders
  web/static/favicon.ico
  web/static/vue/pages/profile.js
Due: eslint, prettier

fix: homepage top plays
  web/static/vue/api-client.js
  web/static/vue/pages/homepage.js
  web/templates/home.html
Due: eslint, prettier

add: cool cards
  README.md
  cmd/soumetsu/main.go
  internal/api/handlers/auth.go
  internal/api/middleware/activity.go
  internal/app/app.go
  internal/app/routes.go
  internal/repositories/user.go
  internal/services/auth/service.go
  tailwind.config.js
  web/static/css/input.css
  web/static/js/user-cards.js
  web/static/vue/api-client.js
  web/static/vue/components/score-card.js
  web/static/vue/pages/beatmap.js
  web/static/vue/pages/profile.js
  web/static/vue/utils/game-helpers.js
  web/templates/about.html
  web/templates/base.html
  web/templates/beatmaps/beatmap.html
  web/templates/beatmaps/ranking_request.html
  web/templates/clans/clan.html
  web/templates/clans/clan_board.html
  web/templates/clans/list.html
  web/templates/connection.html
  web/templates/leaderboard.html
  web/templates/logo.html
  web/templates/navbar.html
  web/templates/patcher.html
  web/templates/profile.html
  web/templates/rules.html
  web/templates/support.html
  web/templates/team.html
  web/templates/templates.go
Due: eslint, golangci-lint, prettier, gofmt, goimports

fix: online user conts
  internal/api/handlers/pages.go
  internal/api/response/response.go
  internal/app/app.go
  internal/services/stats/stats.go
  web/templates/connection.html
  web/templates/home.html
Due: golangci-lint, gofmt, goimports

add: really cool beatmap req stuff
  web/static/vue/api-client.js
  web/static/vue/pages/beatmap.js
  web/static/vue/pages/clanboard.js
  web/static/vue/pages/friends.js
  web/static/vue/pages/leaderboards.js
  web/static/vue/pages/profile.js
  web/static/vue/pages/rank_request.js
  web/templates/beatmaps/beatmap.html
  web/templates/beatmaps/ranking_request.html
  web/templates/clans/clan.html
  web/templates/clans/clan_board.html
  web/templates/friends.html
  web/templates/home.html
  web/templates/leaderboard.html
Due: eslint, prettier

remove: redundant download buttons
  web/static/vue/pages/beatmap_search.js
  web/templates/beatmaps/beatmap_listing.html
Due: eslint, prettier

make teams page client side
  web/static/vue/pages/team.js
  web/templates/team.html
Due: eslint, prettier

chore: lint js
  .golangci.yml
  README.md
  docker-compose.yml
  gulpfile.js
  postcss.config.js
  tailwind.config.js
  web/static/css/input.css
  web/static/js/banner-gradient.js
  web/static/js/bbcode.js
  web/static/js/user-cards.js
  web/static/profiles/profile.css
  web/static/soumetsu.js
  web/static/timeago-locale/jquery.timeago.en.js
  web/static/vue/api-client.js
  web/static/vue/components/mode-selector.js
  web/static/vue/components/player-card.js
  web/static/vue/components/score-card.js
  web/static/vue/components/skeleton-loaders.js
  web/static/vue/pages/beatmap.js
  web/static/vue/pages/beatmap_search.js
  web/static/vue/pages/clan.js
  web/static/vue/pages/clanboard.js
  web/static/vue/pages/friends.js
  web/static/vue/pages/homepage.js
  web/static/vue/pages/leaderboards.js
  web/static/vue/pages/profile.js
  web/static/vue/pages/rank_request.js
  web/static/vue/pages/team.js
  web/static/vue/soumetsu-app.js
  web/static/vue/utils/game-helpers.js
  web/static/vue/utils/helpers.js
  web/static/vue/vue-axios.js
  web/static/vue/vue.js
Due: eslint, prettier

restore: minified vers of modules
  web/static/vue/vue-axios.js
  web/static/vue/vue.js
Due: eslint, prettier

implement qb template helper against MySQL
  internal/app/app.go
  web/templates/funcmap.go
Due: golangci-lint, gofmt, goimports

fix: interpolate username in multi-account warning instead of literal %s
  web/templates/auth/register/peppy.html
Due: none

fix: register flow polish (verify page content, password warning persistence, -devserver domain)
  internal/api/handlers/auth.go
  web/static/soumetsu.js
  web/templates/auth/register/register.html
  web/templates/auth/register/verify.html
  web/templates/connection.html
  web/templates/funcmap.go
Due: eslint, golangci-lint, prettier, gofmt, goimports

fix: password mismatch warning idempotency via DOM check; spacing between connection method cards
  web/templates/auth/register/register.html
  web/templates/auth/register/verify.html
  web/templates/connection.html
Due: none

fix: center hero section on homepage (bina + content box)
  web/templates/home.html
Due: none

the latch, threaded through every dial
  internal/api/context/context.go
  internal/api/middleware/auth.go
  web/templates/navbar.html
Due: golangci-lint, gofmt, goimports

the modifier roll, with tempo etched
  internal/adapters/api/scores.go
  web/static/vue/utils/game-helpers.js
Due: eslint, golangci-lint, prettier, gofmt, goimports

add: locally-stored clan icons (replace url-based icons)
  internal/adapters/api/clans.go
  internal/api/handlers/clan.go
  internal/app/routes.go
  internal/models/clan.go
  internal/repositories/clan.go
  web/templates/clans/clan.html
  web/templates/clans/clan_board.html
  web/templates/clans/clan_settings.html
  web/templates/clans/create.html
  web/templates/clans/list.html
Due: golangci-lint, gofmt, goimports

feat: revamp patcher page with rate changes and expanded feature list
  web/static/images/patcher_rate_change_mod.png
  web/templates/patcher.html
Due: none

feat: feature the patcher at the top of the about page
  web/static/about/patcher_settings.png
  web/templates/about.html
Due: none

feat: redesign profile settings page
  internal/adapters/api/users.go
  internal/api/handlers/user.go
  internal/app/routes.go
  web/static/soumetsu.js
  web/templates/funcmap.go
  web/templates/settings/profile.html
Due: eslint, golangci-lint, prettier, gofmt, goimports

chore: self-host the FontAwesome bundle
  web/static/css/fontawesome/all.min.css
  web/static/css/fontawesome/webfonts/fa-brands-400.woff2
  web/static/css/fontawesome/webfonts/fa-solid-900.woff2
  web/templates/base.html
Due: prettier

feat: redirect osu! client's /home/account/edit to /settings/avatar
  internal/app/routes.go
Due: golangci-lint, gofmt, goimports

feat: rewrite clan settings (client-side mutations, ID-keyed URL, redesign)
  internal/adapters/api/clans.go
  internal/api/handlers/clan.go
  internal/api/middleware/auth.go
  internal/api/response/response.go
  internal/app/routes.go
  internal/models/user.go
  web/static/js/clan-settings.js
  web/static/vue/api-client.js
  web/templates/clans/clan.html
  web/templates/clans/clan_settings.html
  web/templates/clans/list.html
  web/templates/errors/error_403.html
Due: eslint, golangci-lint, prettier, gofmt, goimports

feat: restore Discord linking and show linked accounts on profiles
  internal/adapters/api/users.go
  internal/adapters/discord/oauth.go
  internal/api/handlers/user.go
  internal/app/routes.go
  web/static/vue/pages/beatmap_search.js
  web/static/vue/pages/profile.js
  web/templates/home.html
  web/templates/profile.html
  web/templates/settings/discord.html
Due: eslint, golangci-lint, prettier, gofmt, goimports

feat(config): PaymentsConfig for donation providers
  internal/config/config.go
Due: golangci-lint, gofmt, goimports

feat(payments): donor price calculation
  internal/services/payments/price.go
  internal/services/payments/price_test.go
Due: golangci-lint, gofmt, goimports

feat(payments): PaymentProvider interface
  internal/services/payments/provider.go
Due: golangci-lint, gofmt, goimports

feat(payments): donation repository (rosu-qualified writes)
  internal/repositories/donation.go
Due: golangci-lint, gofmt, goimports
